<h1>About chimbly {{Team}}</h1>
<div id="container1">
    <!--<ul ng-repeat="Player in Team.players" id="services-list" >
        <li>
            <div class="image">
                <img ng-src="data:image/JPEG;base64,{{Player.image}}" err err-src="images/grp1.png" alt=" plop" />
            </div>
            <div class="content">
                <h2>{{Player.playerName}}</h2>
                <p>
                    {{Player.phNumber}}
                </p>
            </div>
        </li>
    </ul>-->
</div>